html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: #575757;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #353535;
}

footer {
    padding: 15px;
    background-color: #353535;
}

section {
    display: flex;
    flex-wrap: wrap;
}
